*{
    margin: 0px;
    padding: 0px;
    
}
body{
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #000;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.logo{
    text-align: center;
    font-weight: bold;
}
.jok {
    color: #452eda;
    font-size: 40px;
  }
  
.gen {
    color: #3c0c0c;
    font-size: 50px;
  }
.container{
    display: flex;
    background-color: #4802ca;
    margin: 10px;
    height: 300px;
    width: 380px;
    /* x,y,blur, color*/
    box-shadow: 10px 10px 13px #3c0c0c;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 10px;
}
.cards{
    display: flex;
}
img{
    width: 230px;
    height: 220px;
}
section{
    padding-top: 50px;
    
}
button{
    padding: 5px;
    width: 150px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #d2d2d2;
    color: #230000;
    letter-spacing: 3px;
    border-radius: 10px;
}
.jokes{
    color:#D4D4D4;
    background-color: #3c0c0c;
    height: 50px;
    width: 500px;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#keyword{
    background-color: #3c0c0c;
    height: 30px;
    width: 300px;
    padding: 8px;
}
.bDiv{
    margin:auto;
    padding: auto;
    height: 3em;
    background-color:transparent;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}